<div class="user-form-workspace">
    <div class="col-md-10">
        <%= form_with(model: user, local: true) do |form| %>

        <div class="form-group offset-md-2">
            <label>Full name</label>
            <%= form.text_field :full_name, class: "form-control" %>
        </div>

        <div class="form-group offset-md-2">
            <label>E-mail</label>
            <%= form.text_field :email, class: "form-control" %>
        </div>

        <div class="form-group offset-md-2">
            <label>Avatar image</label>
            <%= form.text_field :avatar_image, class: "form-control" %>
        </div>

        <% if current_user %>
        <% if current_user.role.eql? "Admin" %>

        <div class="form-group offset-md-2">
            <label>Role</label>
            <%= form.select :role, ["Admin", "No-admin"], {}, class: "form-control"%>
        </div>

        <% end %>
        <% else %>

        <input type="hidden" name="user[role]" value="No-admin" />

        <% end %>

        <div class="form-group offset-md-2">
            <label>Password</label>
            <%= form.password_field :password, class: "form-control" %>
        </div>

        <div class="form-group offset-md-2">
            <label>Password confirmation</label>
            <%= form.password_field :password_confirmation, class: "form-control" %>
        </div>

        <div class="actions offset-md-2">
            <%= form.submit 'Submit', class: "btn btn-primary col-md-2" %>
            <a href=<%= users_path %> class="btn btn-success col-md-2">Back</a>
        </div>
    </div>
</div>
<% end %>