<%= form_with(model: user, local: true) do |form| %>
  <div class="field">
    <div class="input-group">
      <%= form_group_for form, :full_name, label: true do %>
        <%= form.text_field :full_name, class: "form-control" %>
      <% end %>
    </div>
  </div>

  <div class="field">
    <div class="input-group">
      <%= form_group_for form, :email, label: true do %>
        <%= form.text_field :email, class: "form-control" %>
      <% end %>
    </div>
  </div>

  <div class="field">
    <div class="input-group">
      <%= form_group_for form, :avatar_image, label: true do %>
        <%= form.text_field :avatar_image, class: "form-control" %>
      <% end %>
    </div>
  </div>

  <div class="field">
    <div class="input-group">
      <%= form_group_for form, :role, label: true do %>
        <%= form.select :role, ["Admin", "No-admin"], {}, class: "form-control"%>
      <% end %>
    </div>
  </div>

  <div class="field">
    <div class="input-group">
      <%= form_group_for form, :password, label: true do %>
        <%= form.password_field :password, class: "form-control" %>
      <% end %>
    </div>
  </div>

  <div class="field">
    <div class="input-group">
      <%= form_group_for form, :password_confirmation, label: true do %>
        <%= form.password_field :password_confirmation, class: "form-control" %>
      <% end %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
