<div class="users-workspace">
    <div class="h2">
        <%= @user.full_name %>
    </div>
    <br>
    <div class="h5">
        Email:
        <div class="text-muted">
            <%= @user.email %>
        </div>
    </div>
    <br>
    <div class="h5">
        <img src=<%= @user.avatar_image %> alt="User image" class="img-thumbnail user-image">
    </div>

    <div class="h5">
        Role:
        <div class="text-muted">
            <%= @user.role %>
        </div>
    </div>
    <br><br>

    <a href=<%= edit_user_path(@user) %> class="btn btn-primary col-md-1">Edit</a>&nbsp
    <a href=<%= users_path %> class="btn btn-success col-md-1">Back</a>
    <a href=<%= self_destroy_path(:id => current_user.id) %> class="btn btn-danger col-md-1">Delete</a>

</div>